<form [formGroup]="FilterForm">
<div class="row">
  <div class="col-12 col-sm-4">
    <label for="Filter" class="form-label">Filter</label>
      <select class="form-select myClass" formControlName="selectedOption" aria-label="Default select example">
    <option value="0" class="optionStyle">--Select Filter--</option>
    <option value="1" class="optionStyle">Bill Type</option>
    <option value="2" class="optionStyle">Name</option>
  </select>
</div>
  <ng-container *ngIf="FilterForm.controls['selectedOption'].value==='1'">
      <div class="col-auto">
      <label for="Bill" class="form-label">Select Bill</label>
      <select class="form-select myClass"  formControlName="BillType" aria-label="Default select example">
        <option value="-1">--Select--</option>
        <option value="-1">123</option>
        <option value="-1">345</option>
        <option value="-1">Eduation</option>      
      </select>
  </div>
</ng-container>
  <ng-container *ngIf="FilterForm.controls['selectedOption'].value==='2'">
      <div class="col-auto">
      <label for="filter Option" class="form-label">
          filter Option
      </label>
      <div class="form-control p-0">
        <div class="radioClass">
        <label>
          <input class="form-control" type="radio" id="RadioBtn1" name="RadioBtn" value="1" formControlName="RadioBtn" />
          <span>employeeId</span>
        </label>
        <label>
          <input class="form-control" type="radio" id="RadioBtn2" name="RadioBtn" value="2" formControlName="RadioBtn" />
          <span>Name</span>
        </label>
        <label>
          <input class="form-control" type="radio" id="RadioBtn3" name="RadioBtn" value="3" formControlName="RadioBtn" />
          <span>Belt NO</span>
        </label>
        <label>
          <input class="form-control" type="radio" id="RadioBtn4" name="RadioBtn" value="4" formControlName="RadioBtn" />
          <span>Bank Act</span>
        </label>
      </div>
      </div>
    </div>
    <div class="col-auto" *ngIf="FilterForm.value.RadioBtn">
      <div class="searchParent"> 
          <label for="inputEmail4" class="form-label">Search</label>
          <div class="search-box-container">
            <input maxlength="25" autocomplete="off"  type="text" formControlName="Name" class="form-control" 
            id="Name" placeholder="Search Here...">
          </div>
      </div>

    </div>

  </ng-container>


</div>
</form>